@import "../../style/variable";
@import "../../style/base";

.btn {
  outline: none;
  border: 1px solid transparent;
  font-weight: 600;
  color: $whiteColor;
  background-color: $primaryColor;
  cursor: pointer;
  &:hover {
    background-color: $redColor;
  }
  &.small {
    width: 50px;
    height: 50px;
    padding: 10px 15px;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &.normal {
    @extend .small;
    width: 130px;
    border-radius: 999px;
  }
  &.lager {
    @extend .normal;
    width: 200px;
    border-radius: 999px;
  }
}
