$whiteColor: #fff;
$primaryColor: #d12f26;
$redColor: #b30e06;
$blackColor: #111111;
$secondColor: #55585b;
$modalBg: #2f2c2c;
$grayColor: #8990a4;
$beColor: #d5d7dc;
$yellowColor: #ddbe40;

$headerWidth: 200px;
$headerRespWidth: 80px;
$bannerHeight: 650px;
